@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');


:root {
  --white: #fff;
  --black: #222;
  --lilac: #ae4a74;
  --pink1: #b6698e;
  --pink2: #e7c4db;
  --pink3: #c290a1;
}

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 10px;
    background-color: var(--lilac);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--pink2);
    margin: 4px 0;
    transition: 0.4s;
}

.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 100px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--lilac);
    padding-top: 60px;
    transition: 0.5s;
}

.nav-links li {
    text-align: center;
    margin: 10px 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links.active {
    display: flex;
    left: 0;
}

.close-btn {
    font-size: 36px;
    color: var(--pink3);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.right-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-icons i {
    color: var(--lilac);
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.announcement-bar {
    background-color: #f9f0ec;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

#countdown {
    font-weight: bold;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .logo img {
        height: 80px; 
        width: auto;
    }

    
    nav {
        flex-direction: row;
    }

    .container {
        grid-template-columns: 1fr; 
    }

    .right-icons i {
        font-size: 20px;
        
    }
}


@media only screen and (max-width: 480px) {
    .logo img {
        height: 60px; 
        width: auto;
    }

    .hamburger {
        left: 0; 
    }

    
    .right-icons i {
        font-size: 18px;
        
    }
}
